body{
    color: #ffffff;
    min-height: 100%;
    min-width: 100%;
    cursor: none;
    font-family: "Inter", sans-serif;
}


.linklogo{
    cursor: default
}

* {
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#ffffff
}


.link-filter:hover{
    font-size: 90%;
}


.header{
    background: #2d2d2d;
    width: 100vw;
    position: fixed;
}

.container{
    max-width: 1490px;
    margin: 0 auto;
}

.container2{
    max-width: 1490px;
    margin: 90px auto;
    
}

.menu{
    background: #2d2d2d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.search-logo{
    width: 850px;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    border: 3px solid #9147FF;
    font-size: 30px;
    line-height: 40px;
    background-color: #2d2d2d;
    outline: none;
    font-family: "Inter", sans-seri;
}

.search-logo:hover{
    background: linear-gradient(185deg, #9147ff, #d04ed0);
}

.main{
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    min-height: 90vh;
    padding: 70px 0 60px;
}

.title{
    font-size: 60px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.main-list{
    background: #2d2d2d;
    padding: 70px 80px 90px;
    border-radius: 20px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.logo{
    width: 100%;
    margin-bottom: 20px;
}

.name{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.info{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
    background: linear-gradient(15deg, #9147ff, #4D199A);
    padding: 20px;
    border-radius: 20px;
}

.footer{
    background: #2d2d2d;
    padding: 20px;
    display: flex;
}

.left{
    display: inline;
    margin-right: 350px;
    
}

.right{
    display: inline;
    margin-left: 350px;

}

.text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: inline;
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    list-style: none;
}



.filter-item{
    margin-right: 40px;
    font-size: 30px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}


.simple-trail {
    position: fixed;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    filter: drop-shadow(0 0 8px #ffffff) 
            drop-shadow(0 0 16px #9147ff)
            drop-shadow(0 0 24px #9147ff);
    opacity: 1;
    transition: opacity 0.3s;
}

a, input, button, input, .search-logo, .user, .linklogo {
    cursor: none !important;
}

input, .search-logo {
    cursor: none !important;
}



.live-stream{
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.streamer{
    background-color: #2d2d2d;
    min-width: 200px;
    width: 450px;
    border: 4px solid #9147FF;
    display: block;
}

.name-stream{
    font-size: 18px;
    padding-left: 10px;
    margin: 10px 0;
}

.pr{
    width: 100%;
}

.information{
    display: flex;
}

.nick{
    text-align: center;
    margin-bottom: 10px;
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatar{
    margin: 10px;
}

.treams{
    display: grid;
    gap: 50px;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 400px);
    justify-content: space-evenly;
    padding-right: 45px;
}

.streams{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.header-account{
    display: flex;
    padding-right: 50px;
    margin-bottom: 40px;
}

.neck{
    width: 50%;
    padding-left: 50px;
    display: flex;

}

.niekname-titlle{
    font-size: 30px;
}

.start-stream{
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 50px;
}

.img-nick{
    width: 90px;
    height: 90px;
}

.necknamee{
    margin-left: 20px;
    padding-top: 15px;
}

.main-black{
    background-color: #000;
    min-height: 90vh;
    padding: 70px 0 60px;
}

.nickname-titlle{
    color: #ffffff;
    margin-bottom: 5px;
}

.exit{
    display: flex;  
    justify-content: space-between;
    font-size: 15px;
    margin-top: 15px;
}

.btn-start-img {
    width: 35px;
    height: 35px;
}

.btn-img {
    width: 35px;
    height: 35px;
}

.btn-start{
    background-color: #9147FF;
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly   ;
    width: 200px;
    font-weight: 700;
    font-size: 19px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    color: #ffffff;
    height: 60px;
    width: 230px;
}

.btn-start-two{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 20px;
}


.ABOUT-name-btn{
    margin-bottom: 30px;
}

.about{
    padding-left: 5 0px;
}

.ABOUT-name-btn{
    line-height: 60px;
    width: 200px;
}

.about-title{
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.about-text{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    background-color: #fff;
    color: #9147FF;
}

.about-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-about-item{
    margin-bottom: 10px;
    font-size: 14px;
}