body {
    color: #ffffff;
    min-height: 100%;
    min-width: 100%;
    cursor: none;
    font-family: "Inter", sans-serif;
}


.linklogo {
    cursor: default
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff
}


.link-filter:hover {
    font-size: 90%;
}


.header {
    background: #2d2d2d;
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

.container {
    max-width: 1490px;
    margin: 0 auto;
}

.container2 {
    max-width: 1490px;
    margin: 90px auto;
}

.container3 {
    max-width: 1490px;
    margin: 43px auto;
}

.menu {
    background: #2d2d2d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}


.search-logo {
    width: 600px;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    border: 3px solid #9147FF;
    font-size: 30px;
    line-height: 40px;
    background-color: #2d2d2d;
    outline: none;
    font-family: "Inter", sans-seri;
}

.categoryy {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(150deg, #4c0aaf, #ff02ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s;
}

.categoryy:hover {
    transform: scale(1.3);
}

.search-logo:hover {
    background: linear-gradient(185deg, #9147ff, #d04ed0);
}

.main {
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    min-height: 100vh;
    padding: 70px 0 60px;
}

.title {
    font-size: 60px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.main-list {
    background: #2d2d2d;
    padding: 70px 80px 90px;
    border-radius: 20px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.logo {
    width: 100%;
    margin-bottom: 20px;
}

.name {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.info {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
    background: linear-gradient(15deg, #9147ff, #4D199A);
    padding: 20px;
    border-radius: 20px;
}

.footer {
    background: #2d2d2d;
    padding: 20px;
    display: flex;
}

.left {
    display: inline;
    margin-right: 350px;

}

.right {
    display: inline;
    margin-left: 350px;

}

.text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: inline;
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    list-style: none;
}



.filter-item {
    margin-right: 40px;
    font-size: 30px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}


.simple-trail {
    position: fixed;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    filter: drop-shadow(0 0 8px #ffffff) drop-shadow(0 0 16px #9147ff) drop-shadow(0 0 24px #9147ff);
    opacity: 1;
    transition: opacity 0.3s;
}

a,
input,
button,

.search-logo,
.user,
.linklogo {
    cursor: none !important;
}

input,
.search-logo {
    cursor: none !important;
}



.live-stream {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.streamer {
    background-color: #2d2d2d;
    min-width: 200px;
    width: 450px;
    border: 4px solid #9147FF;
    display: block;
    padding-bottom: 10px;
}

.name-stream {
    font-size: 18px;
    padding-left: 10px;
    margin: 10px 10px 0 0;
}

.pr {
    width: 100%;
    height: 250.25px;
}



.information {
    display: flex;
}

.nick {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatar {
    margin: 10px;
}

.treams {
    display: grid;
    gap: 50px;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 400px);
    justify-content: space-evenly;
    padding-right: 45px;
}

.streams {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.header-account {
    display: flex;
    padding-right: 50px;
    margin-bottom: 40px;
}

.neck {
    width: 50%;
    display: flex;

}

.niekname-titlle {
    font-size: 30px;
}

.start-stream {
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 50px;
}

.img-nick {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.necknamee {
    margin-left: 20px;
    padding-top: 15px;
}

.main-black {
    background-color: #000;
    min-height: 90vh;
    padding: 70px 0 60px;
}

.nickname-titlle {
    color: #ffffff;
    margin-bottom: 5px;
}

.exit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 15px;
}

.btn-start-img {
    width: 35px;
    height: 35px;
}

.btn-img {
    width: 35px;
    height: 35px;
}

.btn-start {
    background-color: #9147FF;
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    font-weight: 700;
    font-size: 19px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    color: #ffffff;
    height: 60px;
    width: 230px;
}

.btn-start-two {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 20px;
}


.ABOUT-name-btn {
    margin-bottom: 30px;
}

.about {
    padding-left: 5 0px;
    margin-bottom: 40px;
}

.ABOUT-name-btn {
    line-height: 60px;
    width: 200px;
}

.about-title {
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.about-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    height: 40px;
    background-color: #fff;
    color: #9147FF;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-about-item {
    margin-bottom: 10px;
    font-size: 14px;
}

.subscriptions-item {
    background-color: #B48FEA;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 400px;
    display: flex;
}

.subscriptions-img {
    height: 120px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.subscriptions-images {
    height: 120px;
}

.subscriptions-name {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subscriptions-list {
    margin-top: 25px;
}

.nickname {
    font-size: 27px;
}

.subscriptions-btn {
    font-size: 20px;
    background: none;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 5px 15px;
}

.subscriptions-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 120px);
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;
}

.subscriptions-title {
    font-size: 30px;
    border-bottom: 2px solid #fff;
    width: 250px;
    padding-bottom: 15px;
}

.arroy-btn {
    display: flex;
    justify-content: center;
    background-color: #9147FF;
    border-radius: 45px;
    width: 120px;
    margin: 0 auto;
    padding: 15px 20px;
    border: 3px solid #fff;
}

.user-streamer-images {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.arroy-img {
    height: 50px;
}


.Archive-title {
    font-size: 30px;
    border-bottom: 3px solid #fff;
    padding-bottom: 20px;
    width: 200px;
    margin-bottom: 60px;
}

.Archive-item {
    background-color: #ADADAD;
    border-radius: 30px;
    width: 400px;
    display: flex;
    height: 130px;
    padding: 15px;
}

.Archive-images {
    height: 100px;
}

.Archive-img {
    height: 100px;
    border-radius: 20px;
}

.Archive-name-stream {
    color: #000;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    gap: 10px;
}

.Archive-names-stream {
    font-size: 22px;
}

.Archive-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: repeat(auto-fill, 300px);
    justify-content: center;
    margin: 0 0 60px 90px;
}

.Archive-arroy-btn {
    display: flex;
    justify-content: center;
    background-color: #9147FF;
    border-radius: 45px;
    width: 190px;
    margin: 0 auto;
    padding: 15px 20px;
    border: 3px solid #fff;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

.Archive-arroy-btn-img {
    height: 50px;
}

.glav-img {
    width: 100%;
    height: auto;
}

.glav-steam-priews {
    height: auto;
}

.glavni-stream {
    display: flex;
    margin-bottom: 20px;
}

.chat-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
    width: auto;
}

.chat {
    max-width: auto;
    height: auto;
    padding: 30px;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 8%, rgba(73, 36, 128, 1) 20%, rgba(109, 53, 191, 1) 33%, rgba(145, 71, 255, 1) 53%, rgba(73, 36, 128, 1) 65%, rgba(54, 27, 96, 1) 75%, rgba(36, 18, 64, 1) 87%, rgba(0, 0, 0, 1) 100%);
}

.exit-chat {
    width: 35px;
}

.group-chat {
    width: 40px;
}

.chat-title {
    text-shadow: 3px 2px 2px #fff;
    color: #9147FF;
    font-size: 25px;
}

.message-text {
    width: auto;
}

.chat-messages {
    width: auto;
}

.chat-massage {
    width: auto;
    font-size: 20px;
    height: 40px;
    color: #fff;
    border: 3px solid #fff;
    background-color: #000;
}

.chat-footer {
    width: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info-streammm {
    display: flex;
    justify-content: space-between;
}

.user-streamer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Follow {
    display: flex;
    align-items: center;
}

.user-streamer-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.user-streamer-title {
    font-size: 25px;
    color: #9147FF;
}

.user-streamer-catigory {
    font-weight: 200;
}

.follow-btn {
    border: none;
    background-color: #9147FF;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    width: 170px;
}

.follow-img {
    width: 40px;
}

.last-stream {
    padding-top: 44px;
    background-image: url(../images/fon-pag4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last {
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 13%, rgba(36, 18, 64, 1) 44%, rgba(73, 36, 128, 1) 67%, rgba(109, 53, 191, 1) 87%);
    width: 650px;
    height: 400px;
    padding: 30px;
    border-radius: 15px;
}

.last-title {
    font-size: 25px;
    background-color: #fff;
    color: #000;
    display: inline;
    border-radius: 25px;
    padding: 5px 10px;
}

.last-priew {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.last-priew-img {
    border-radius: 20px;
    width: 440px;
    height: 250px;
}

.last-stream {
    margin-bottom: 40px;
}

.purple {
    color: #9147FF;
}

.solid {
    font-weight: 200;
}

.follow-botton {
    height: 60px;
}

.text-bd {
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
}

.videos-title {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    width: 200px;
    margin-bottom: 30px;
}

.videos-item {
    background-color: #ADADAD;
    border-radius: 30px;
    padding: 20px;
    width: 440px;
    height: 360px;
}

.videos-img {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #000;
}


.videos-info {
    background-color: #B78EF3;
    border-bottom-right-radius: 40px;
    position: relative;
    right: 20px;
    margin-top: 8px;
    padding: 10px;
    display: flex;
    color: #000;
    gap: 20px;
}

.videos-list {
    display: flex;
    justify-content: space-between;
}

.nickii {
    padding: 0;
}

.categories-streams {
    background: linear-gradient(180deg, #a472ef 9.13%, #b78df5 27.88%, #caa9fb 43.27%, #ec94e4 66.35%, #f191e1 82.69%, #f78edd 100%);
    height: auto;
    width: 90%;
    margin: 100px auto 0;
    box-shadow: -30px 30px 10px #a472ef;
    filter: blur(0.5px);
    padding: 30px 50px;
}

.categories-streams-title {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
    width: 250px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.categoris-streams-popular {
    font-size: 25px;
    border-bottom: 3px solid #fff;
    width: 200px;
    margin-bottom: 50px;
}

.category-item {
    border: 2px solid #fff;
    width: 295px;
    padding: 20px;
}

.category-item-img {
    width: 250px;
    box-shadow: 2px 2px 5px #ffd7f8;
    margin-bottom: 10px;
}

.category-item-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;

}

.right-left {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.category {
    text-align: right;
    margin-right: 10px;
}

.log {
    background-color: #111;
}

.logIn-img {
    width: 70%;
    height: 100vh;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
}

.LogIn {
    display: flex;
}

.login-title {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    margin: 0 0 20px;
}

.avtoriz {
    width: 30%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.log-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logIn-input {
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    text-align: center;
    outline: none;
    line-height: 0;
    color: #9147FF;
    font-weight: 700;
}

input[type="email"] {
    font-size: 25px;
}

input[type="text"] {
    font-size: 25px;
}

input[type="password"] {
    font-size: 25px;
}

.logInt-btn {
    padding: 10px 20px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    background-color: #9147FF;
    border: none;
    box-shadow: 1px 3px 3px #4c0aaf;
    transition: all 0.4s;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.pink {
    background-color: #f744e8;
}

.reg {
    font-size: 19px;
}

.logInt-btn:hover {
    transform: scale(1.1);
}

.log-reg {
    text-align: center;
    color: #636363;
}


@media (max-width: 1200px) {

    .container,
    .container2,
    .container3 {
        padding: 0 20px;
    }

    .search-logo {
        width: 400px;
    }

    .glav-img {
        width: 100%;
        height: auto;
    }


    .chat {
        max-width: auto;
        height: auto;
    }

    .treams {
        grid-template-columns: repeat(auto-fill, 350px);
        padding-right: 0;
    }

    .streamer {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .menu {
        flex-wrap: wrap;
        gap: 15px;
    }

    .streamer {
        min-width: 400px;
    }

    .user-avatar {
        min-width: 70px;
    }


    .search-logo {
        width: 100%;
        order: 3;
    }

    .glavni-stream {
        flex-direction: column;
    }

    .glav-img {
        width: 100%;
        height: auto;
    }

    .chat {
        max-width: auto;
        height: auto;
    }

    .videos-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 1036px) {
    .title {
        font-size: 40px;
    }

    .search-logo {
        font-size: 20px;
        height: 40px;
    }



    .categoryy {
        font-size: 20px;
    }

    .user-avatar {
        width: 70px;
    }

    .header-account {
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
    }

    .neck,
    .start-stream {
        width: 100%;
        justify-content: center;
    }

    .treams {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .streamer {
        min-width: 400px;
    }

    .subscriptions-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .subscriptions-item {
        width: 100%;
        max-width: 400px;
    }

    .Archive-list {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .last {
        width: 90%;
        height: auto;
    }

    .last-priew-img {
        width: 100%;
        max-width: 400px;
    }

    .LogIn {
        flex-direction: column;
    }

    .logIn-img {
        width: 100%;
        height: 300px;
        border-radius: 0;
    }

    .container2 {

        transition: all 0.8s;
    }

    * {
        transition: all 0.2s;
    }

    .avtoriz {
        width: 100%;
        padding: 40px 20px;
    }
}


@media (max-width: 784px) {
    .category-list {
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 605px) {
    .menu {
        padding: 10px;
    }

    .title {
        font-size: 32px;
    }

    .search-logo {
        font-size: 16px;
    }



    .streamer {
        width: 100%;
        max-width: 320px;
    }

    .pr {
        height: 180px;
    }

    .container2 {
        padding-top: 100px;
        margin: 70px auto;
    }

    .btn-start {
        width: 200px;
        font-size: 16px;
    }

    .subscriptions-item {

        height: auto;
        border-radius: 20px;
    }

    .subscriptions-img {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
    }

    .videos-item {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .videos-img {
        width: 100%;
    }

    .logIn-input {
        width: 100%;
    }

    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .left,
    .right {
        margin: 10px 0;
    }
}


@media (max-width: 360px) {
    .title {
        font-size: 28px;
    }

    .streamer {
        max-width: 280px;
    }

    .name-stream {
        font-size: 16px;
    }

    .nick {
        font-size: 16px;
    }

    .btn-start {
        width: 180px;
        font-size: 14px;
    }
}