body {
    color: #ffffff;
    min-height: 100%;
    min-width: 100%;
    cursor: none;
    font-family: "Inter", sans-serif;
}


.linklogo {
    cursor: default
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff
}


.link-filter:hover {
    font-size: 90%;
}


.header {
    background: #2d2d2d;
    width: 100vw;
    position: fixed;
}

.container {
    max-width: 1490px;
    margin: 0 auto;
}

.container2 {
    max-width: 1490px;
    margin: 90px auto;
}

.container3 {
    max-width: 1490px;
    margin: 43px auto;
}

.menu {
    background: #2d2d2d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.search-logo {
    width: 850px;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    border: 3px solid #9147FF;
    font-size: 30px;
    line-height: 40px;
    background-color: #2d2d2d;
    outline: none;
    font-family: "Inter", sans-seri;
}

.search-logo:hover {
    background: linear-gradient(185deg, #9147ff, #d04ed0);
}

.main {
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    min-height: 90vh;
    padding: 70px 0 60px;
}

.title {
    font-size: 60px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.main-list {
    background: #2d2d2d;
    padding: 70px 80px 90px;
    border-radius: 20px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.logo {
    width: 100%;
    margin-bottom: 20px;
}

.name {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.info {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
    background: linear-gradient(15deg, #9147ff, #4D199A);
    padding: 20px;
    border-radius: 20px;
}

.footer {
    background: #2d2d2d;
    padding: 20px;
    display: flex;
}

.left {
    display: inline;
    margin-right: 350px;

}

.right {
    display: inline;
    margin-left: 350px;

}

.text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: inline;
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    list-style: none;
}



.filter-item {
    margin-right: 40px;
    font-size: 30px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}


.simple-trail {
    position: fixed;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    filter: drop-shadow(0 0 8px #ffffff) drop-shadow(0 0 16px #9147ff) drop-shadow(0 0 24px #9147ff);
    opacity: 1;
    transition: opacity 0.3s;
}

a,
input,
button,
input,
.search-logo,
.user,
.linklogo {
    cursor: none !important;
}

input,
.search-logo {
    cursor: none !important;
}



.live-stream {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.streamer {
    background-color: #2d2d2d;
    min-width: 200px;
    width: 450px;
    border: 4px solid #9147FF;
    display: block;
}

.name-stream {
    font-size: 18px;
    padding-left: 10px;
    margin: 10px 0;
}

.pr {
    width: 100%;
}

.information {
    display: flex;
}

.nick {
    text-align: center;
    margin-bottom: 10px;
    background: linear-gradient(185deg, #9147ff, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatar {
    margin: 10px;
}

.treams {
    display: grid;
    gap: 50px;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 400px);
    justify-content: space-evenly;
    padding-right: 45px;
}

.streams {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.header-account {
    display: flex;
    padding-right: 50px;
    margin-bottom: 40px;
}

.neck {
    width: 50%;
    padding-left: 50px;
    display: flex;

}

.niekname-titlle {
    font-size: 30px;
}

.start-stream {
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 50px;
}

.img-nick {
    width: 90px;
    height: 90px;
}

.necknamee {
    margin-left: 20px;
    padding-top: 15px;
}

.main-black {
    background-color: #000;
    min-height: 90vh;
    padding: 70px 0 60px;
}

.nickname-titlle {
    color: #ffffff;
    margin-bottom: 5px;
}

.exit {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 15px;
}

.btn-start-img {
    width: 35px;
    height: 35px;
}

.btn-img {
    width: 35px;
    height: 35px;
}

.btn-start {
    background-color: #9147FF;
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    font-weight: 700;
    font-size: 19px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    color: #ffffff;
    height: 60px;
    width: 230px;
}

.btn-start-two {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 20px;
}


.ABOUT-name-btn {
    margin-bottom: 30px;
}

.about {
    padding-left: 5 0px;
    margin-bottom: 40px;
}

.ABOUT-name-btn {
    line-height: 60px;
    width: 200px;
}

.about-title {
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.about-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    background-color: #fff;
    color: #9147FF;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-about-item {
    margin-bottom: 10px;
    font-size: 14px;
}

.subscriptions-item {
    background-color: #B48FEA;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 400px;
    display: flex;
}

.subscriptions-img {
    height: 120px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.subscriptions-images {
    height: 120px;
}

.subscriptions-name {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subscriptions-list {
    margin-top: 25px;
}

.nickname {
    font-size: 27px;
}

.subscriptions-btn {
    font-size: 20px;
    background: none;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 5px 15px;
}

.subscriptions-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 120px);
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;
}

.subscriptions-title {
    font-size: 30px;
    border-bottom: 2px solid #fff;
    width: 250px;
    padding-bottom: 15px;
}

.arroy-btn {
    display: flex;
    justify-content: center;
    background-color: #9147FF;
    border-radius: 45px;
    width: 120px;
    margin: 0 auto;
    padding: 15px 20px;
    border: 3px solid #fff;
}

.arroy-img {
    height: 50px;
}


.Archive-title {
    font-size: 30px;
    border-bottom: 3px solid #fff;
    padding-bottom: 20px;
    width: 200px;
    margin-bottom: 60px;
}

.Archive-item {
    background-color: #ADADAD;
    border-radius: 30px;
    width: 400px;
    display: flex;
    height: 130px;
    padding: 15px;
}

.Archive-images {
    height: 100px;
}

.Archive-img {
    height: 100px;
    border-radius: 20px;
}

.Archive-name-stream {
    color: #000;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    gap: 10px;
}

.Archive-names-stream {
    font-size: 22px;
}

.Archive-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: repeat(auto-fill, 300px);
    justify-content: center;
    margin: 0 0 60px 90px;
}

.Archive-arroy-btn {
    display: flex;
    justify-content: center;
    background-color: #9147FF;
    border-radius: 45px;
    width: 190px;
    margin: 0 auto;
    padding: 15px 20px;
    border: 3px solid #fff;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

.Archive-arroy-btn-img {
    height: 50px;
}

.glav-img {
    width: 1100px;
}

.glav-steam-priews {
    height: 610px;
}

.glavni-stream {
    display: flex;
    margin-bottom: 20px;
}

.chat-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}


.chat {
    width: 400px;
    height: 610px;
    padding: 30px;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 8%, rgba(73, 36, 128, 1) 20%, rgba(109, 53, 191, 1) 33%, rgba(145, 71, 255, 1) 53%, rgba(73, 36, 128, 1) 65%, rgba(54, 27, 96, 1) 75%, rgba(36, 18, 64, 1) 87%, rgba(0, 0, 0, 1) 100%);
}

.exit-chat {
    width: 35px;
}

.group-chat {
    width: 40px;
}

.chat-title {
    text-shadow: 3px 2px 2px #fff;
    color: #9147FF;
    font-size: 25px;
}

.chat-massage {
    width: 330px;
    font-size: 20px;
    height: 40px;
    color: #fff;
    border: 3px solid #fff;
    background-color: #000;
}

.chat-footer {
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info-streammm {
    display: flex;
    justify-content: space-between;
}

.user-streamer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Follow {
    display: flex;
    align-items: center;
}

.user-streamer-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.user-streamer-title {
    font-size: 25px;
    color: #9147FF;
}

.user-streamer-catigory {
    font-weight: 200;
}

.follow-btn {
    border: none;
    background-color: #9147FF;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    width: 170px;
}

.follow-img {
    width: 40px;
}

.last-stream {
    padding-top: 44px;
    background-image: url(../images/fon-pag4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last {
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 13%, rgba(36, 18, 64, 1) 44%, rgba(73, 36, 128, 1) 67%, rgba(109, 53, 191, 1) 87%);
    width: 650px;
    height: 400px;
    padding: 30px;
    border-radius: 15px;
}

.last-title{
    font-size: 25px;
    background-color: #fff;
    color: #000;
    display: inline;
    border-radius: 25px;
    padding: 5px 10px;
}

.last-priew{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.last-priew-img{
    border-radius: 20px;
    width: 440px;
    height: 250px;
}

.last-stream{
    margin-bottom: 40px;
}

.purple{
    color: #9147FF;
}

.solid{
    font-weight: 200;
}

.follow-botton{
    height: 60px;
}

.text-bd{
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
}

.videos-title{
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    width: 200px;
    margin-bottom: 30px;
}
.videos-item{
    background-color: #ADADAD;
    border-radius: 30px;
    padding: 20px;
    width: 440px;
    height: 360px;
}

.videos-img{
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #000;
}


.videos-info{
    background-color: #B78EF3;
    border-bottom-right-radius: 40px;
    position: relative;
    right: 20px;
    margin-top: 8px;
    padding: 10px;
    display: flex;
    color: #000;
    gap: 20px;
}

.videos-list{
    display: flex;
    justify-content: space-between;
}

.nickii{
    padding: 0;
}