{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container2">
            <section class="header-account">
                <div class="neck">
                    <div class="imgaes-neck">
                        <img src="{% static 'images/my-prof.png' %}" alt="" class="img-nick">
                    </div>
                    <div class="necknamee">
                        <h3 class="niekname-titlle">
                            Ник пользователя
                        </h3>
                        <div class="exit">
                            <p class="exit-text">Число подписчиков</p>
                            <p class="exit-text">Выйти</p>
                        </div>
                    </div>
                </div>
                <div class="start-stream">
                    <a href="" class="btn-start">
                        <img src="{% static 'images/camera.svg' %}" alt="" class="btn-start-img">
                        начать стрим
                    </a>
                    <a href="" class="btn-start-two">
                        <img src="{% static 'images/redact.svg' %}" alt="" class="btn-img">
                    </a>
                </div>
            </section>
            <section class="about">
                <div class="ABOUT-name-btn">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">Роль</p>
                </div>
                <div class="information-about">
                    <dl class="about-list">
                        <div class="about-item">
                            <dt class="title-about-item">Имя</dt>
                            <dd class="text-about-item">DangerLyoha</dd>
                        </div>
                        <div class="about-item">
                            <dt class="title-about-item">Почта</dt>
                            <dd class="text-about-item">DangerLyoha@gmail.com</dd>
                        </div>
                        <div class="about-item">
                            <dt class="title-about-item">Пароль</dt>
                            <dd class="text-about-item">ruh**********</dd>
                        </div>
                        <div class="about-item">
                            <dt class="title-about-item">Описание</dt>
                            <dd class="text-about-item">какой то левый текст</dd>
                        </div>
                    </dl>
                </div>
            </section>
            <section class="Subscriptions">
                <h2 class="subscriptions-title">Subscriptions</h2>
                <div class="subscriptions-list">
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="{% static 'images/subscriptions-avatar.jpg' %}" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="{% static 'images/subscriptions-avatar.jpg' %}" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="{% static 'images/subscriptions-avatar.jpg' %}" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="{% static 'images/subscriptions-avatar.jpg' %}" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="{% static 'images/subscriptions-avatar.jpg' %}" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="{% static 'images/subscriptions-avatar.jpg' %}" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                </div>
                <a href="#" class="arroy-btn">
                    <img src="{% static 'images/wiht-arroy.svg' %}" alt="" class="arroy-img">
                </a>
            </section>
            <section class="Archive">
                <h2 class="Archive-title">Archive</h2>
                <div class="Archive-list">
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="{% static 'images/Archive-ava.jpg' %}" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="{% static 'images/Archive-ava.jpg' %}" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="{% static 'images/Archive-ava.jpg' %}" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="{% static 'images/Archive-ava.jpg' %}" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="Archive-arroy-btn">
                    Больше
                    <img src="{% static 'images/wiht-arroy.svg' %}" alt="" class="Archive-arroy-btn-img">
                </a>
            </section>
        </div>
{% endblock %}
