{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container3">
    <section class="glavni-stream">
        <div class="glav-steam-priews">
            <img src="{% static 'images/glav-stream.jpg' %}" alt="" class="glav-img">
        </div>
        <div class="chat">
            <div class="chat-head">
                <img src="{% static 'images/exit.svg' %}" alt="" class="exit-chat">
                <h4 class="chat-title">STREAM CHAT</h4>
                <img src="{% static 'images/group.svg' %}" alt="" class="group-chat">
            </div>
            <div class="chat-footer">
                <form class="seacrh-all" action="/search" method="get">
                    <input class="search-logo chat-massage" type="text" name="query" placeholder="Send a massage">
                </form>
            </div>
        </div>
    </section>
    <section class="info-streammm">
        <div class="user-streamer">
            <img src="{% static 'images/Group 3.png' %}" alt="" class="user-streamer-images">
            <div class="user-streamer-text">
                <h3 class="user-streamer-title">
                    Ник стримера
                </h3>
                <p class="user-streamer-name">
                    Название стрима
                </p>
                <p class="user-streamer-catigory">
                    Категория
                </p>
            </div>
        </div>
        <div class="Follow">
            <button class="follow-btn">
                <img src="{% static 'images/follow.svg' %}" alt="" class="follow-img">
                Follow
            </button>
        </div>
    </section>
</div>
{% endblock %}