{% extends "main.html" %}
{% load static %}

{% block main %}
<section class="last-stream">
    <div class="last">
        <h4 class="last-title">
            Онлайн
        </h4>
        <div class="last-priew">
            <img src="{% static 'images/image (3).png' %}" alt="" class="last-priew-img">
            <p class="name-last-stream">Название стрима</p>
        </div>
    </div>
</section>
<div class="container">
    <section class="header-account">
        <div class="neck nickii">
            <div class="imgaes-neck">
                <img src="{% static 'images/Group 3.png' %}" alt="" class="img-nick">
            </div>
            <div class="necknamee">
                <h3 class="niekname-titlle purple">
                    Ник пользователя
                </h3>
                <div class="exit">
                    <p class="exit-text solid">Число подписчиков</p>
                </div>
            </div>
        </div>
        <div class="start-stream">
            <button class="follow-btn follow-botton">
                <img src="{% static 'images/follow.svg' %}" alt="" class="follow-img">
                Follow
            </button>
            <a href="" class="btn-start-two">
                <img src="{% static 'images/dzin.svg' %}" alt="" class="btn-img">
            </a>
        </div>
    </section>
    <section class="about">
        <div class="ABOUT-name-btn">
            <h2 class="about-title">About</h2>
            <p class="text-bd">Текст из бд о стримере</p>
        </div>
    </section>
    <section class="Videos">
        <h2 class="videos-title">Videos</h2>
        <div class="videos-list">
            <div class="videos-item">
                <img src="{% static 'images/videos.jpg' %}" alt="" class="videos-img">
                <div class="videos-info">
                    <div class="steam">
                        <img src="{% static 'images/steam.svg' %}" alt="" class="steam-img">
                    </div>
                    <div class="videos-informations">
                        <h4 class="videos-name">Название стрима</h4>
                        <p class="videos-text">ник пользователя</p>
                        <p class="videos-text">категория</p>
                    </div>
                </div>
            </div>
            <div class="videos-item">
                <img src="{% static 'images/videos.jpg' %}" alt="" class="videos-img">
                <div class="videos-info">
                    <div class="steam">
                        <img src="{% static 'images/steam.svg' %}" alt="" class="steam-img">
                    </div>
                    <div class="videos-informations">
                        <h4 class="videos-name">Название стрима</h4>
                        <p class="videos-text">ник пользователя</p>
                        <p class="videos-text">категория</p>
                    </div>
                </div>
            </div>
            <div class="videos-item">
                <img src="{% static 'images/videos.jpg' %}" alt="" class="videos-img">
                <div class="videos-info">
                    <div class="steam">
                        <img src="{% static 'images/steam.svg' %}" alt="" class="steam-img">
                    </div>
                    <div class="videos-informations">
                        <h4 class="videos-name">Название стрима</h4>
                        <p class="videos-text">ник пользователя</p>
                        <p class="videos-text">категория</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}