<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Wstream</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="menu">
                <a href="#" class="linklogo">
                    <h1 class="title">
                        Wstream
                    </h1>
                </a>
                <form class="seacrh-all" action="/search" method="get">
                    <input class="search-logo" type="text" name="query" placeholder="Поиск">
                </form>
                <a href="#" class="user">
                    <img src="../static/images/Group 3.png" alt="user">
                </a>
            </nav>
        </div>
    </header>
    <main class="main-black">
        <div class="container2">
            <section class="header-account">
                <div class="neck">
                    <div class="imgaes-neck">
                        <img src="../static/images/my-prof.png" alt="" class="img-nick">
                    </div>
                    <div class="necknamee">
                        <h3 class="niekname-titlle">
                            Ник пользователя
                        </h3>
                        <div class="exit">
                            <p class="exit-text">Число подписчиков</p>
                            <p class="exit-text">Выйти</p>
                        </div>
                    </div>
                </div>
                <div class="start-stream">
                    <a href="" class="btn-start">
                        <img src="../static/images/camera.svg" alt="" class="btn-start-img">
                        начать стрим
                    </a>
                    <a href="" class="btn-start-two">
                        <img src="../static/images/redact.svg" alt="" class="btn-img">
                    </a>
                </div>
            </section>
            <section class="about">
                <div class="ABOUT-name-btn">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">Роль</p>
                </div>
                <div class="information-about">
                    <dl class="about-list">
                        <div class="about-item">
                            <dt class="title-about-item">Имя</dt>
                            <dd class="text-about-item">DangerLyoha</dd>
                        </div>
                        <div class="about-item">
                            <dt class="title-about-item">Почта</dt>
                            <dd class="text-about-item">DangerLyoha@gmail.com</dd>
                        </div>
                        <div class="about-item">
                            <dt class="title-about-item">Пароль</dt>
                            <dd class="text-about-item">ruh**********</dd>
                        </div>
                        <div class="about-item">
                            <dt class="title-about-item">Описание</dt>
                            <dd class="text-about-item">какой то левый текст</dd>
                        </div>
                    </dl>
                </div>
            </section>
            <section class="Subscriptions">
                <h2 class="subscriptions-title">Subscriptions</h2>
                <div class="subscriptions-list">
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="../static/images/subscriptions-avatar.jpg" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="../static/images/subscriptions-avatar.jpg" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="../static/images/subscriptions-avatar.jpg" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="../static/images/subscriptions-avatar.jpg" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="../static/images/subscriptions-avatar.jpg" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                    <div class="subscriptions-item">
                        <div class="subscriptions-images">
                            <img src="../static/images/subscriptions-avatar.jpg" alt="" class="subscriptions-img">
                        </div>
                        <div class="subscriptions-name">
                            <h3 class="nickname">Ник стримера</h3>
                            <button class="subscriptions-btn">Unsubscribe</button>
                        </div>
                    </div>
                </div>
                <a href="#" class="arroy-btn">
                    <img src="../static/images/wiht-arroy.svg" alt="" class="arroy-img">
                </a>
            </section>
            <section class="Archive">
                <h2 class="Archive-title">Archive</h2>
                <div class="Archive-list">
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="../static/images/Archive-ava.jpg" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="../static/images/Archive-ava.jpg" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="../static/images/Archive-ava.jpg" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                    <div class="Archive-item">
                        <div class="Archive-images">
                            <img src="../static/images/Archive-ava.jpg" alt="" class="Archive-img">
                        </div>
                        <div class="Archive-name-stream">
                            <h3 class="Archive-names-stream">Название стрима</h3>
                            <p class="date-stream">Дата стрима:</p>
                            <p class="category-stream">Категории стрима:</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="Archive-arroy-btn">
                    Больше
                    <img src="../static/images/wiht-arroy.svg" alt="" class="Archive-arroy-btn-img">
                </a>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="left">
                <p class="text">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="right">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur</p>
            </div>
        </div>
    </footer>
    <script>
        const simpleTrail = document.createElement('div');
        simpleTrail.className = 'simple-trail';
        document.body.appendChild(simpleTrail);

        simpleTrail.style.opacity = '1';

        document.addEventListener('mousemove', (e) => {
            simpleTrail.style.left = (e.clientX - 4) + 'px';
            simpleTrail.style.top = (e.clientY - 4) + 'px';
        });

        document.addEventListener('mouseleave', () => {
            simpleTrail.style.opacity = '0';
        });

        document.addEventListener('mouseenter', () => {
            simpleTrail.style.opacity = '1';
        });
    </script>
</body>

</html>