{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container">
            <section class="categories-streams">
                <h1 class="categories-streams-title">categories</h1>
                <h3 class="categoris-streams-popular">Popular</h3>
                <div class="category-list">
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="../static/images/cs.jpg" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                    <div class="category-item">
                        <img src="{% static 'images/cs.jpg' %}" alt="" class="category-item-img">
                        <h4 class="category-item-title">Название категории</h4>
                        <p class="category-item-text">Кол-во зрителей</p>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}